.contents{
    max-width: 750px;
    margin: auto;
    font-family: sans-serif;
}

h1{
    background-color: rgb(72, 99, 255);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 30px;
}

h2{
    color: rgb(204, 99, 0);
}